.text-opacity-70 {
    --bs-text-opacity: 0.70;
}

.w-fit {
    width: fit-content;
}

.btn-outline-light{ 
    &:hover{
        background-color: var(--bs-light-gray) !important;
    }
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
    box-shadow: unset !important;
    color: var(--bs-white) !important;

    .btn-text{
        color: var(--bs-white);
    }
}

.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--bs-secondary);
    border-radius: 9999px;
    padding: 0.5rem 1.5rem;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    width: fit-content;
    padding: 16px 58px 16px 30px;
    color: var(--bs-white);

    &:hover {
        background-color: $brand-orange-dark;
        color: var(--bs-white);
    }

    .btn-text {
        position: relative;
        z-index: 1;
        font-size: 18px;
        font-weight: 700;
        color: var(--bs-white);
        transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
        padding-inline-end: 15px;
    }

    &:hover .btn-text {
        color: var(--bs-white);
        transform: translateX(2.5rem);
    }

    .btn-icon {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(-115%, -50%);
        z-index: 0;
        transition: transform 0.4s ease, left 0.4s ease;
        color: var(--bs-primary) !important;
    }

    &:hover .btn-icon {
        left: 0;
        transform: translate(15%, -50%) rotate(45deg);
    }
}

.btn-light,
.btn-light-gray,
.btn-outline-light,
.demo-btn {
    color: #000 !important;

    .btn-text {
        color: #000 !important;
    }

    &:hover,
    &:hover .btn-text {
        color: #000 !important;
    }
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-dark,
.btn-outline-muted,
.btn-outline-dark-light {
    color: #000 !important;

    .btn-text {
        color: #000 !important;
    }

    &:hover,
    &:hover .btn-text {
        color: #fff !important;
    }
}

.btn-dark{
    background-color: var(--bs-dark);
    color: var(--bs-white);

    .btn-text {
        color: var(--bs-white);
    }

    &:hover{
        color: #000;
        background-color: var(--bs-white);

        .btn-text {
            color: #000;
        }
    }
}

.text-dark {
    color: #000 !important;
}

.text-bg-light-gray {
    color: #000 !important;
}
